services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: laravel-app
    volumes:
      - .:/var/www
    depends_on:
      - db

  nginx:
    image: nginx:latest
    container_name: nginx-server
    ports:
      - "8090:80"
    volumes:
      - .:/var/www
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  db:
    image: mysql:8.4
    container_name: darooghe-db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: darooghe
      MYSQL_USER: user
      MYSQL_PASSWORD: pass
      MYSQL_EVENT_SCHEDULER: ON
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"


  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: darooghe-phpmyadmin
    restart: always
    ports:
      - "8091:80"
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
      PMA_USER: user
      PMA_PASSWORD: pass
    depends_on:
      - db

volumes:
  mysql_data: